@(loginForm: Form[FormDataLogin])(implicit webJarAssets: WebJarAssets)
@_template(None) {
    <form method="post" action="@routes.Authentication.login()">
        <div class="row">
            <div class="medium-8 medium-centered columns">
                <label>User
                    <input type="email" placeholder="write@@your.email" name="email" value="@loginForm("email").value" required/>
                    @loginForm.error("email").map { formError =>
                        <span class="form-error is-visible">@formError.message</span>
                    }
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-8 medium-centered columns">
                <label>Password
                    <input type="password" placeholder="password" name="password" required />
                    @loginForm.error("password").map { formError =>
                        <span class="form-error is-visible">@formError.message</span>
                    }
                </label>

            </div>
        </div>
        <div class="row">
            <div class="large-4 medium-7 small-12 large-centered medium-centered columns">
                <div class="row">
                    <div class="small-6 columns">
                        <button type="submit" class="button expanded success">Login</button>
                    </div>
                    <div class="small-6 columns">
                        <a href="@routes.PublicApplication.index()" class="button expanded secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column">
            <blockquote>
                <p>Remember that default users are:</p>
                <ul>
                    <li>Admin user <code>admin@@tetrao.eu</code> with password <code>password</code></li>
                    <li>Normal user <code>bob@@tetrao.eu</code> with password <code>password</code></li>
                </ul>
            </blockquote>
        </div>
    </form>
}
